* {
    margin: 0;
    box-sizing: border-box;
    outline: 1px red solid;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    color: white;
    background-color: black;
}

                    /*TOP*/
header {
    height: 60px;
    padding: 20px;
}
.hamburger {
    float: left;
}
.socialMedia {
    float: right;

    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
    margin: 0px 5px;
}


                    /*MIDDLE*/
main {
    height: 80vh;
    padding: 0px 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: 300ms ease-in-out all;
}
.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 80px;
    height: 120px;

    position: absolute;
    z-index: -1;
}
.presentation, .name {
    font-size: 3vh;
}

                    
                    /*BOTTOM*/
footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.moreInfo:hover {
    cursor: pointer;
}