* {
    margin: 0;
    box-sizing: border-box;
    outline: 1px red solid;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    color: white;
    background-color: black;
}

                    /*TOP*/
header {
    height: 60px;
    padding: 20px;
}
.hamburger {
    float: left;
}
.socialMedia {
    float: right;

    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
    margin: 0px 5px;
}


                    /*MIDDLE*/
.left, .right ,#more {
    padding: 15px;
    font-size: 1rem;
    border-radius: 50%;

    transition: all 100ms ease;
}
.left:hover, .right:hover ,#more:hover {
    box-shadow: 0 0 30px 2px white;
    transition: all 500ms ease;
}
main {
    height: 80vh;
    padding: 0px 28px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: 300ms ease-in-out all;
}

.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 300ms ease all;
}
.logo {
    width: 280px;
    height: 320px;

    position: absolute;
    z-index: -1;

   /* transition: 300ms ease-in-out all;*/
}
.presentation, .name {
    font-size: 3vh;

 /*   transition: 300ms ease-in-out all;*/
}
                    
                    /*BOTTOM*/
footer {
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 500ms all ease;
}

.moreInfo:hover, li:hover, .hamburger:hover, .left:hover, .right:hover {
    cursor: pointer;
}
.moreInfo:hover {
    padding-top: 4px;
}